.vertical-abbreviated-date-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mud-cal-grid.mud-cal-week-grid.hide-time-column {
    grid-template-columns: 0px repeat(7, 1fr);
}
.mud-cal-grid-header.mud-cal-week-header.hide-time-column {
    grid-template-columns: 0px repeat(7, 1fr);
}
.mud-cal-week-scroll {
    overflow-y: auto;
}