@page "/document-library"
@using ComposedHealthBase.BaseClient.Components
@using ComposedHealthBase.BaseClient.Services
@using Shared.DTOs.CRM
@inject ILazyLookupService<CustomerDto> LookupService

@if (customer == null)
{
    <p>Loading...</p>
}
else
{
    <DocumentBrowser TDto="CustomerDocumentDto" @bind-DocumentIds="customer!.RelatedDocumentIds" OnDocumentUploaded="SaveCustomer" />
}


@code {
    private CustomerDto? customer { get; set; } = default!;
    protected override async Task OnInitializedAsync()
    {
        customer = await LookupService.GetItemById(new Guid("20202020-2020-2020-2020-202020202020"), CancellationToken.None);
    }
    private async Task SaveCustomer(CustomerDocumentDto document)
    {
        if (customer == null)
            return;
        await LookupService.UpdateItem(customer, CancellationToken.None);
        customer = await LookupService.GetItemById(new Guid("20202020-2020-2020-2020-202020202020"), CancellationToken.None);
    }
}