@page "/"

<PageTitle>Home</PageTitle>

<AuthorizeView>
	<Authorized>
		<MudText Typo="Typo.h1">Welcome, @context.User.Identity?.Name</MudText>
	</Authorized>
	<NotAuthorized>
		<MudText Typo="Typo.h1">Welcome</MudText>
		<p>Please log in to continue.</p>
	</NotAuthorized>
</AuthorizeView>