@page "/weather"
@using Microsoft.AspNetCore.Authorization
@using NationOH.Shared.DTOs.CRM
@inject IHttpClientFactory HttpClientFactory
@attribute [Authorize]

<PageTitle>CRM</PageTitle>

<h1>CRM</h1>

<p>WElcome to the CRM.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Id</td>
                    <td>@forecast.Name</td>
                    <td>@forecast.Address</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private CustomerDto[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var client = HttpClientFactory.CreateClient("api");
            forecasts = await client.GetFromJsonAsync<CustomerDto[]>("api/CRM/Customers");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error fetching weather data: {ex.Message}");
        }
    }
}
